body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body{
  background-color: rgb(249, 205, 255);
  background-image: url(Images/bg_stars.png);
  background-repeat: repeat;
  z-index: 0;
}

.wrapper{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#machine{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#noball{
  display: block;
  position: fixed;
  top: 759px;
  z-index: 2;
  margin-left: 77px;
  margin-right: auto;
  border-radius: 50px;
}

#hatch{
  display: block;
  position: fixed;
  top: 759px;
  z-index: 2;
  margin-left: 77px;
  margin-right: auto;
  border-radius: 50px;
}

#handleReplace{
  position: fixed;
  top: 548px;
  z-index: 3;
  margin-left: 278px;
  margin-right: auto;
  border-radius: 150px;
}

#handle{
  position: fixed;
  top: 548px;
  z-index: 3;
  margin-left: 278px;
  margin-right: auto;
  border-radius: 150px;
}

.modal{
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(253,179,255,0.1);
  z-index: 4;
}

#note {
  background-repeat: no-repeat;
  margin: auto;
  width: 1148px;
  height: 680px;
  text-align: center;
}


#modalText{
  font-size: 40px;
  padding: 180px;
  font-family: 'DotGothic16', sans-serif;
  color: rgb(157,0,162);
  z-index: 4;
}


span{
  font-size: 25px;
  font-family: 'DotGothic16', sans-serif;
  color: rgb(157,0,162);
}

span:hover, #hatch:hover, #handle:hover{
  cursor: pointer;
}
