body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wrapper{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#machine{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#noball{
  display: block;
  position: fixed;
  top: 690px;
  z-index: 2;
  margin-left: 58px;
  margin-right: auto;
}


#hatch{
  display: block;
  position: fixed;
  top: 690px;
  z-index: 2;
  margin-left: 58px;
  margin-right: auto;
}


#handle{
  position: fixed;
  top: 548px;
  z-index: 3;
  margin-left: 278px;
  margin-right: auto;
}

.modal{
  display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253,179,255,0.1);
    z-index: 4;
}

.modalContent {
    background-image: url(Images/notes/note_01.png);
    background-repeat: no-repeat;
    margin: auto;
    width: 1148px;
    height: 680px;
    text-align: center;
}

#modalText{
  font-size: 40px;
  padding: 180px;
  font-family: 'DotGothic16', sans-serif;
  color: rgb(157,0,162);
}

span{
  font-size: 25px;
  font-family: 'DotGothic16', sans-serif;
  color: rgb(157,0,162);
}

span:hover, #hatch:hover, #turnHandle:hover{
  cursor: pointer;
}
