#wrapper{
  height: 1200px;
}

#artinfo{
  float: left;
  padding: 5px;
  font-size: 18px;
}

#art{
float: left;
  width: 350px;
  text-align: left;
  padding: 5px;
  margin: 0px 50px 0px 100px;
}

#commission{
  float: left;
  width: 350px;
  text-align: left;
  padding: 5px;
  margin: 0px 50px 0px 100px;
}

ul,li{
  margin-left: -10px;
}
