#artinfo{
  float: left;
  padding: 5px;
  font-size: 18px;
}

#art{
  display: block;
  float: left;
  width: 350px;
  text-align: left;
  padding: 5px;
  margin: 0px 50px 0px 100px;
}

#commission{
  float: left;
  display: block;
  width: 350px;
  text-align: left;
  padding: 5px;
  margin: 0px 10px 0px 30px;
}

#contactform{
  float: left;
  width: 500px;
  text-align: left;
  background-color: white;
  padding: 5px;
  margin:  0px 50px 0px 100px;
}

#contactinfo{
  padding: 5px;
  position: relative;
}

#commissiontype{
  padding: 5px;
  position: relative;
}
