#projectinfo{
  float: left;
  padding: 5px;
  font-size: 18px;
}

#projects{
  display: block;
  float: left;
  width: 350px;
  text-align: left;
  padding: 5px;
  margin: 0px 50px 0px 100px;
}

#projectsschool{
  float: left;
  display: block;
  width: 350px;
  text-align: left;
  padding: 5px;
  margin: 0px 10px 0px 30px;
}
